body {
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 30px;
    font-weight:550;
    background-color: #feebff;
}
img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    max-width: 100%; /* Scale the image to fit the container */
    height: auto; /* Maintain aspect ratio */
    margin-left: 25px;
    display: block; /* Ensure the image behaves like a block element */
}
.form-container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}
.submit-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(45deg, #9b62d8, #4374c7);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

